<div align="center">
  <img src="https://raw.githubusercontent.com/rbrightline/common/refs/heads/main/libs/<%- fileName %>/favicon.png" alt="Logo" width="200"/>
</div>


# @rline/<%- fileName %>

- [ ] add description for the library



## Installation

````shell 
pnpm add @rline/<%- fileName %>
````

## Usage


- [ ] add example for the librarys
````typescript

````