import { readFileSync } from 'fs';
import { join } from 'path';
import { argv, cwd } from 'process';
import { JSONSchema } from './json';

const [, , jsonFileName] = argv;

const filePath = join(cwd(), jsonFileName);

const content: JSONSchema = JSON.parse(readFileSync(filePath).toString());

console.log(content);
